/* RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	background-color: #efefef;

}

/* Header */
header {
	background-color: aquamarine;
	padding: 20px 400px;
}

.navbar {
	background-color: rgb(231, 193, 122);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px dashed black;

}

.main-menu {
	display: flex;
	gap: 20px;
	border: 1px dashed black;
	font-size: 18px;

}

.navbar .login {
	border: 1px dashed black;
	font-size: 18px;
}

/* Layout */
.card {
	height: 250px;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.container {
	max-height: 220px;
	height: 180px;
	width: 500px;
	background-color: palevioletred;
	align-items: flex-start;
}



/*  2 Layout */
.card-2{
	height: 250px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.card-2 .container{
	
	max-height: 220px;
	height: 180px;
	width: 600px;
	border: 1px solid black;
}
.row{
	display: flex;
  flex-wrap: wrap;
	height: 100%;
	
	
}

.col-1{
	width: 60%;
	height: 100%;
	border: 1px solid black;
	background-color:aquamarine;
}

.col-2{
	width:40%;
	height: 100%;
	background-color: pink;
}

/*  Layout 3 */
.card-3{
	height: 250px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(184, 172, 172, 0.904);
}

.card-3 .container{
	max-height: 220px;
	height: 180px;
	width: 600px;
	border: 1px solid black;
}

/* 5° Layout */
.card-5{
	height: 550px;
	background-color:rgba(184, 172, 172, 0.904);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-5 .container{
	padding: 12px;
	max-height: 500px;
	height: 500px;
	width: 600px;
	background-color: green;
	align-items: flex-start;
}

/* 6° Layout */
.card-6{
	height: 250px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.card-6 .container {
	max-height: 250px;
	height: 230px;
	width: 600px;
	border: 1px solid black;
	
}

.col-double{
	width: 40%;
	height: 100%;
	background-color:indianred;
	border: 1px dashed black;
}

.col-single-1 {
	width: 15%;
	height: 100%;
	background-color:cadetblue;
	border: 1px dashed black;
}
.col-single-2 {
	width: 15%;
	height: 100%;
	background-color:cadetblue;
	border: 1px dashed black;
}
.col-single-3 {
	width: 15%;
	height: 100%;
	background-color:cadetblue;
	border: 1px dashed black;
}
.col-single-4 {
	width: 15%;
	height: 100%;
	background-color:cadetblue;
	border: 1px dashed black;
}



